@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;

}
.header, .hero {
    background-color: #1F2937;

}

.header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header ul{
    padding: 0;
}
.header li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB; 
    display: inline; 
}

.hero{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 100px 0;
}

.hero-left{
    width: 400px;
    height: auto;
}
.hero .title{
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}

.hero .subtext{
    font-size: 18px;
    color: #E5E7EB; 
    padding: 10px 0;
}

.hero img{
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}
.info{
    margin: 50px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}
.card-section{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    font-weight: normal;
}

.info .card {
    max-width: 150px;
}
.info .card img{
    width: 150px;
    height: 150px;
}